<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="{{AUTHOR}}">
    <meta name="keywords" content="{{KEYWORDS}}">
    <meta name="description" content="{{DESCRIPTION}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{TITLE}}</title>
    <script src="{{PATH}}js/fa-all.min.js"></script>
    <script src="{{PATH}}js/main.js"></script>
    <link rel="stylesheet" href="{{PATH}}css/normalize.css">
    <link rel="stylesheet" href="{{PATH}}css/main.css">
</head>