<h2>
    Web Fundamentals<br>
    Course: <span class="primary-color">WDD 130</span>
</h2>
<nav>
    <ul>
        <li>
            <div class="link">
                <a href="{{PATH}}exercises/index.html">Exercises</a>
            </div>
            <div class="more">
                <i class="fas fa-caret-down closed"></i>
                <i class="fas fa-times opened"></i>
            </div>
            <ul>
                <li>
                    <div class="link">
                        Week 6
                    </div>
                    <div class="more">
                        <i class="fas fa-caret-down closed"></i>
                        <i class="fas fa-times opened"></i>
                    </div>
                    <ul>
                        <li>
                            <div class="link">
                                <a href="{{PATH}}exercises/week-6/site-plan/index.html" target="_blank">Site Plan</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <div class="link">
                <a href="{{PATH}}challenges/index.html">Challenges</a>
            </div>
            <div class="more">
                <i class="fas fa-caret-down closed"></i>
                <i class="fas fa-times opened"></i>
            </div>
            <ul>
                <li>
                    <div class="link">
                        Week 6
                    </div>
                    <div class="more">
                        <i class="fas fa-caret-down closed"></i>
                        <i class="fas fa-times opened"></i>
                    </div>
                    <ul>
                        <li>
                            <div class="link">
                                <a href="{{PATH}}challenges/week-6/dark-mode-site-plan/index.html" target="_blank">Dark Mode Site Plan</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <div class="link">
                <a href="{{PATH}}resources/index.html">Resources</a>
            </div>
        </li>
    </ul>
</nav>